* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(250, 250, 245);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    padding: 50px;
}
h1 {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
}
h2 {
    margin-top: 20px;
}

p {
    margin-top: 20px;
}
.first {
    color: rgb(24, 8, 8);
}
.reference {
    font-weight: bolder;
}
input,
button {
    padding: 10px;
    font-size: 30px;
    background-color: rgb(194, 205, 214);
}
a {
    font-size: 30px;
    color: black;
    background-color: rgba(42, 74, 133, 0.199);
}
.header {
    /* background-color: rgba(42, 74, 133, 0.199); */
    display: flex;
    text-align: center;
}
a.logout {
    color: red;
}
